body{
  width: 100%;
  margin: 0;
  background: black;
  display: block;
  position: relative;
  /* height: 100%; */
  /* overflow: hidden; */
}
.menubar_extra {
  position: relative;
  width: 100%;
  height: 7.32%;
}
body::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  /* background: url('../images/index_menu.jpg'); */
  width: 100%;
  height: 100%;
  background-size: 100% auto ;
  display: block;
  opacity: .8;
}
html{
  position: relative;
  height: 100%;
  width: 100%;
}
* {
  box-sizing: border-box;
}

.menubar {
  position: relative;
  width: 100%;
  height: 7.32%;
  position: fixed;
  background: black;
  /* opacity: .5; */
  display: flex;
  z-index: 100;
  justify-content: space-between;
  padding: 1.4% 3.3% 1.4% 3.3%;
}
.futter {
  position: relative;
  width: 100%;
  height: 7.22%;
  /* background: yellow; */
  /* opacity: .5; */
  display: flex;
  justify-content: space-between;
  padding: 1.35% 3.45% 1.35% 3.45%;

}
.futter a {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  color: #FF83C1;
  text-decoration: none;
}
.logo:hover path {
  fill: black;
}
.logo {
width: 8.49%;
}
.burger {
  width: 2.07%;
}
.futter_left {
  width: 40%;
}
.futter_left1 {
  margin-right: 4.3%;
}
.p_tall, .p_bron {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  color: #FF83C1;
}
h1 {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  color: #FF83C1;
  margin-bottom: 1.6%;
  margin-left: -0.4%;

}
ul{
   list-style-type: disc;
   line-height: 25px;
}
li {
  margin-bottom: 7px;
  margin-top: 7px;
}
h2 {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  color: #FF83C1;
  text-decoration: none;
}
h4 {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  color: #FF83C1;
  text-decoration: none;
}
ul, p {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  color: #FF83C1;
}
.p_date {
  font-family: 'Montserrat', sans-serif;
  font-size: 64px;
  font-weight: 500;
  line-height: 78px;
  color: black;
}
.right_menu {
  position: fixed;
  height: 100%;
  width: 48.9%;
  background: #FF83C1;
  z-index: 300;
  right: 0;
  opacity: .8;
  display: none;
}
.black_square {
  position: fixed;
  height: 100%;
  width: 51.1%;
  background: black;
  z-index: 300;
  left: 0;
  opacity: .5;
  display: none;
  
}
.right_menu_img {
  position: absolute;
  width: 82.182%;
  left: 6.5%;
  top: 4.8%;
}
.menu_round {
  position: absolute;
  width: 2.84%;
  height: 2.44%;
  background: black;
  border-radius: 50%;
}
#menu_round1 {
  top: 4.85%;
  left: 40.3%;
}
#menu_round2 {
  top: 26.76%;
  left: 29%;
}
#menu_round3 {
  bottom: 43.95%;
  right: 38.3%;
}
#menu_round4 {
  bottom: 29.33%;
  left: 39%;
}
#menu_round5 {
  bottom: 14.66%;
  left: 30.4%;
}
#menu_round6 {
  bottom: 9.75%;
  right: 27%;
}
.right_menu a {
  color: black;
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  text-decoration: none;
  text-align: center;
}
#menu_text1 {
  left: 32.9%;
  top: 8.8%;
}
#menu_text2 {
  left: 21.4%;
  top: 30.7%;
}
#menu_text3 {
  right: 29.1%;
  bottom: 40.2%;
}
#menu_text4 {
  left: 34.4%;
  bottom: 25.6%;
}
#menu_text5 {
  left: 25.1%;
  bottom: 11%;
}
#menu_text6 {
  right: 22.2%;
  bottom: 6.1%;
}
.menu_krest {
  position: absolute;
  width: 4%;
  right: 6.7%;
  top: 2.45%;
}
.menu_krest_img {
  width: 100%;
}
