@media only screen and (min-width: 500px) and (max-width: 1024px) {
  .standart_sootnosheniye {padding-bottom: 133.33%;}
  .menubar {height: 5.8%; padding: 2.6% 0.1% 1.4% 3.3%;}
  .menubar_extra {height: 5.8%;}
  .logo {width: 18.5%;}
  .burger {width: 12%}
  .fp_row_block {height: 24%; padding: 0 0;}
  .futter {height: 5.8%; padding: 2.8% 4% 0% 4%;}
  .futter a {font-size: 16px;}
  .futter_left {width: 60%;}
  .futter_left1 {margin-right: 14%;}
  .fp_main {height: 64.4%;}
  .p_tall, .p_bron {font-size: 20px; line-height: 24px;}
  .p_tall_index {right: 10.7%; top: 3.5%;}
  .fp_events {width: 41.3%; right: 7.8%; left: auto; top: 41.5%;}
  .fp_catalog {width: 35%; left: 4%; bottom: auto; top: 24.5%;}
  .fp_promokod {width: 44.3%; right: auto; left: 20%; top: auto; bottom: 6.6%;}
  .fp_decor1, .fp_decor2, .fp_decor3, .fp_decor4, .fp_decor5, .fp_decor6, .fp_decor7 {display: none;}
  .fp_ip_decor1, .fp_ip_decor2, .fp_ip_decor3, .fp_ip_decor4, .fp_ip_decor5 {display: block;}

  @keyframes fp_row_anim {
    0% {-webkit-mask-position: -137.75% top;}
    100% {-webkit-mask-position: 0% top;}
  }

  .cat_sootnosheniye {padding-bottom: 260.29%;}
  .cat_menubar_extra {height: 3.165%;}
  .cat_futter {height: 3.165%;}
  h1 {font-size: 48px; line-height: 58px; margin-bottom: 2.8%;}
  .catp_content {height: 93.67%;}
  .catalog_block {height: 51.5%; padding-top: 1.8%; padding-left: 3.85%;}
  .cat_timeline {height: 18.84%;}
  .cat_game {height: 29.66%;}
  .cat_line {height: 29.4%; margin-bottom: 3.4%;}
  .cat_line_item3 {display: none;}
  .cat_line_item {width: 48.8%;}
  .cat_weight2 {margin-top: 24.8%;}
  .cat_weight3 {margin-top: 17%;}
  .cat_item_hover ul {margin-left: 9%;}
  li {margin-top: 2px; margin-bottom: 2px;}
  /* .cat_line_item {width: 100%;} */

}
@media only screen and (max-width: 500px) {
  .standart_sootnosheniye {padding-bottom: 177.5%;}
  .menubar {height: 6.2%; padding: 2.34% 4.9% 0% 4.5%;}
  .menubar_extra {height: 6.2%;}
  .logo {width: 32.3%;}
  .burger {width: 7.8%;}
  .fp_row_block {height: 28%; padding: 1.1% 0;}
  .futter {height: 6.2%; padding: 0.3% 5% 0% 5%;}
  .futter a {font-size: 15px;}
  .futter_left1 {display: none;}
  .fp_main {height: 59.6%;}
  .p_tall, .p_bron {font-size: 15px; line-height: 18px;}
  .p_tall_index {right: 0.5%; top: 2.5%; width: 95%;}
  .fp_events {width: 62.4%; right: 9.6%; left: auto; top: 49.4%;}
  .fp_catalog {width: 53%; left: 4.7%; bottom: auto; top: 21.8%;}
  .fp_promokod {width: 67%; right: auto; left: 4.7%; top: auto; bottom: 5%;}
  .fp_decor1, .fp_decor2, .fp_decor3, .fp_decor4, .fp_decor5, .fp_decor6, .fp_decor7, .fp_ip_decor1, .fp_ip_decor2, .fp_ip_decor3, .fp_ip_decor4, .fp_ip_decor5 {display: none;}
  .fp_iph_decor1, .fp_iph_decor2, .fp_iph_decor3 {display: block;}


  @keyframes fp_row_anim {
    0% {-webkit-mask-position: -122.68% top;}
    100% {-webkit-mask-position: 0% top;}
  }

}
