@media only screen and (min-width: 500px) and (max-width: 1024px) {
  .standart_sootnosheniye {padding-bottom: 133.33%;}
  .menubar {height: 5.8%; padding: 2.6% 0.1% 1.4% 3.3%;}
  .menubar_extra {height: 5.8%;}
  .logo {width: 18.5%;}
  .burger {width: 12%}
  .fp_row_block {height: 24%; padding: 0 0;}
  .futter {height: 5.8%; padding: 2.8% 4% 0% 4%;}
  .futter a {font-size: 16px;}
  .futter_left {width: 60%;}
  .futter_left1 {margin-right: 14%;}
  .fp_main {height: 64.4%;}
  .p_tall, .p_bron {font-size: 20px; line-height: 24px;}
  .p_tall_index {right: 10.7%; top: 3.5%;}
  .fp_events {width: 41.3%; right: 7.8%; left: auto; top: 41.5%;}
  .fp_catalog {width: 35%; left: 4%; bottom: auto; top: 24.5%;}
  .fp_promokod {width: 44.3%; right: auto; left: 20%; top: auto; bottom: 6.6%;}
  .fp_decor1, .fp_decor2, .fp_decor3, .fp_decor4, .fp_decor5, .fp_decor6, .fp_decor7 {display: none;}
  .fp_ip_decor1, .fp_ip_decor2, .fp_ip_decor3, .fp_ip_decor4, .fp_ip_decor5 {display: block;}

  @keyframes fp_row_anim {
    0% {-webkit-mask-position: -137.75% top;}
    100% {-webkit-mask-position: 0% top;}
  }

  .cat_sootnosheniye {padding-bottom: 260.29%;}
  .cat_menubar_extra {height: 3.165%;}
  .cat_futter {height: 3.165%;}
  h1 {font-size: 48px; line-height: 58px; margin-bottom: 2.8%;}
  .catp_content {height: 93.67%;}
  .catalog_block {height: 51.5%; padding-top: 1.8%; padding-left: 3.85%;}
  .cat_timeline {height: 18.84%;}
  .cat_game {height: 29.66%;}
  .cat_line {height: 29.4%; margin-bottom: 3.4%;}
  .cat_line_item3 {display: none;}
  .cat_line_item {width: 48.8%;}
  .cat_weight2 {margin-top: 24.8%;}
  .cat_weight3 {margin-top: 17%;}
  .cat_item_hover ul {margin-left: 9%;}
  li {margin-top: 2px; margin-bottom: 2px;}
  .cat_line_plus {display: none;}
  .cat_line_item4 {height: 100%; width: 100%;}
  .cat_line2_block2 {width: 48.8%;}
  .cat_line2_block {width: 48.8%;}
  .cat_line_item5 {width: 100%;}
  .cat_item5 {height: 86%;}
  .cat_item_info5 {height: 14%;}
  .cat_line_plus_ipad {display: block;}
  .cat_weight4 {margin-top: 21%;}
  .cat_item_hover5 {padding: 9% 10%;}
  .cat_item_hover5 p {margin-left: -7%;}
  .cat_item_hover5 ul {width: 90%;}
  .cat_weight5 {margin-top: 7%;}
  .cat_timeline .dontknow {width: 46%;}
  .cat_timeline_img {display: none;}
  .cat_timeline_img_ipad {display: block;}
  .cat_timeline_round {display: none;}
  .cat_step1 {left: 8.9%; bottom: 15%;}
  .cat_step2 {left: 43%; bottom: 43%;}
  .cat_step3 {right: 7.5%; top: -11%;}
  .cat_step1_text {bottom: 2%; left: 3.8%;}
  .cat_step2_text {left: 43.5%; bottom: 31%;}
  .cat_step3_text {top: 17%; right: 9.7%;}
  .cat_step1_a {bottom: -3%; left: 8%; z-index: 100;}
  .cat_timeline a {font-size: 15px; line-height: 18px;}
  .cat_step2_a {left: 48.3%; bottom: 25.5%;}
  .cat_step3_a {top: 23.7%; right: 11.3%;}
  .cat_game_container {width: 526.8%;}



  .gal_sootnosheniye {padding-bottom: 341.276%;}
  .gal_futter, .gal_menubar_extra {height: 2.266%;}
  .gal_birki {height: 67.5%;}
  .gallery_row_container {height: 9.6%;}
  .gal_merch {height: 18.368%;}
  .gal_birka {border-radius: 15px;}
  .gal_birka2 {left: 38.5%; top: 7%; width: 25.52%; height: 19%;}
  .gal_birka4 {left: 54%; top: 32%; width: 22.629%; height: 17%;}
  .gal_birka1 {left: 4%; top: 4.3%; width: 44.5%; height: 33.6%; }
  .gal_birka_front1, .gal_birka_front3, .gal_birka_front7 {border: 5px solid #FF83C1;}
  .gal_birka_front5, .gal_birka_front6 {border: 5px solid #A4DDD4;}
  .gal_birka3 {width: 29%; height: 21.9%; right: 3.8%; top: 12%;}
  .gal_birka5 {left: 5.3%; right: auto; bottom: 23%; width: 39.24%; height: 29.4%;}
  .gal_birka6 {right: 4.5%; top: 42.4%; width: 44.79%; height: 33.4%; left: auto;}
  .gal_birka8 {left: 5.4%; right: auto; bottom:4%; width: 22.53%; height: 16.8%;}
  .gal_birka7 {right: 19.2%; bottom: 1.6%; width: 42%; height: 31%;}
  .gal_rope {width: 4px;}
  .gal_rope1 {left: calc(26.25% - 2px);}
  .gal_rope2 {left: calc(51.26% - 2px);}
  .gal_rope3 {right: calc(18.3% - 2px);}
  .gal_rope4 {left: calc(65.31% - 2px);}
  .gal_rope5 {right: auto; left: calc(24.92% - 2px);}
  .gal_rope6 {left: auto; right: calc(26.895% - 2px);}
  .gal_rope7 {right: calc(40.2% - 2px); height: 68%; z-index: 90;}
  .gal_rope8 {left: calc(16.665% - 2px);}
  .p_date {font-size: 48px; line-height: 58px;}
  .gal_birka_back1 .p_date1 {top: 31%;}
  .gal_birka_back1 .p_date2 {top: 40%;}
  .gal_birka_back3 h1, .gal_birka_back3 .p_date {font-size: 24px; line-height: 29px;}
  .gal_birka_back3 .p_tall {top: 14%; font-size: 18px; line-height: 22px;}
  .gal_birka_back3 .p_bron  {display: none;}
  .gal_img3 {bottom: 10%;}
  .gal_birka_back3 .p_date {top: 46%;}
  h2 {font-size: 36px; line-height: 44px;}
  .gal_birka_back5 .p_tall {top: 19%;}
  .gal_img5 {bottom: 5%;}
  .gal_birka_back5 .p_date1 {top: 41%;}
  .gal_img6 {bottom: 5%;}
  .gal_birka_back6 .p_date1 {left: 5.5%; right: auto; top: 26%;}
  .gal_birka_back6 .p_date2 {left: 5.5%; right: auto; top: 36%;}
  .gal_birka_back4 a, .gal_birka_back8 a {font-size: 24px; line-height: 29px; left: calc(50% - 57px);}
  .gallery_row_container {padding-bottom: 2.5%;}
  .gallery_row {animation: gallery_row_anim 17s linear infinite;}
  @keyframes gallery_row_anim {
    0% {-webkit-mask-position: -168% top;}
    100% {-webkit-mask-position: 0% top;}
  }
  .gal_strelka1, .gal_strelka2 {width: 3%; top: 47.3%}
  .gal_strelka1 {left: 3.75%;}
  .gal_strelka2 {right: 3.75%;}
  .gal_merch_tablo {left: 3.95%; padding: 2% 3.7% 2% 3.7%; width: 48.1%; bottom: 4.5%;}
  .gal_merch_tablo p {font-size: 18px; line-height: 23px;}




  .mach_main_block {padding: 0% 3.5% 0 3.9%;}
  .mach_text_block {width: 100%; display: block; height: 34.7%;}
  .mach_image {height: 65.3%; width: 65.5%;}
  .mach_points {height: 65.3%; width: 29%; margin-top: -9.6%;}
  .mach_text_block h1 {line-height: 44px;}
  .mach_text_block p {margin-top: 5%; width: 84%;}
  .mach_button {width: 7.167%; height: 5.842%;}
  .mach_button1 {left: 22%; top: 18%;}
  .mach_button2 {right: 22%; top: 25%;}
  .mach_button3 {bottom: 15%; left: 37%;}
  .mach_button4 {bottom: 20%; left: 58%;}
  .mach_button5 {right: 10%; bottom: 3%;}
  .mach_points p {margin-left: 7.5%; margin-top: 26%;}


  .space_standart_sootnosheniye {padding-bottom: 180.99%;}
  /* .space_menubar_extra, .space_futter {height: 5.453%;} */



  .con_futter {height: 5.8%; padding: 2.8% 4% 0% 4%;}
  .con_main_block {height: 88.4%; padding: 2.8% 4% 0.3% 4%;}
  .con_text_block {width: 100%; height: 22.6%; display: block;}
  .con_foto_block {width: 100%; height: 66%; display: block; background-image: url('../images/plan_ipad.jpg'); background-size: 102% 102%; background-position: 10% 10%;}
  .con_text_block p {display: none;}
  .con_text_block_ipad {display: block; height: 6%; margin-top: 1%;}
  .con_text_block_ipad p { color: black; font-size: 18px; line-height: 27px; position: absolute;}
  .con_text_block_ipad1 {left: 4.2%;}
  .con_text_block_ipad2 {right: 4.2%;}




  .user_sootnosheniye {padding-bottom: 188.54%;}
  .user_menubar_extra, .user_futter {height: 4.1%;}
  .user_text_block {height: 14.5%; padding: 0.1% 3%;}
  .user_question_block {height: 77.6%; padding: 0.1% 3%}
  .user_text_left {width: 100%;}
  .user_text_left h1 {line-height: 44px;}
  .user_text_left p {margin-left: 1%; width: 64%;}
  .user_icon1, .user_icon2 {width: 12%; top: 13.3%;}
  .user_icon1 p, .user_icon2 p {font-size: 16px; line-height: 25px; bottom: -8%;}
  .user_icon2 p {left: calc(50% - 47px)}
  .user_icon1 p {left: calc(50% - 39px)}
  .user_icon2 {right: 5%;}
  .user_icon1 {right: 20.4%;}
  .user_question1 {left: 3.9%; width: 60.2%; height: 51.6%; padding: 1.7% 0 1% 1.2%;}
  .user_question2 {left: 3.9%; top: 53.5%; width: 92.5%; height: 18.6%; padding: 1.5% 0%;}
  .user_question3 {right: 3.9%; width: 29.3%; height: 18.7%; padding: 1.7% 1.6%;}
  .user_question4 {bottom: 0; left: 3.9%; height: 25.8%; width: 44.8%; padding: 1.8% 2.5%;}
  .user_question5 {right: 3.9%; top: 20.7%; width: 29.3%; height: 30.9%; padding: 1.6% 1.6%;}
  .user_portrets_line {margin-top: 5.5%; height: 43.5%; padding: 0% 0 0 2.8%}
  .user_line2 {margin-top: 3.5%;}
  .user_portret_block {width: 45.6%;}
  .user_portret_block_left {margin-right: 3%;}
  .user_portrets_line p {line-height: 17px;}
  .user_question2 .user_question_text {margin-left: 1.3%;}
  .user_qualities_block {padding: 1.6% 0;}
  .user_qualities1 {margin-left: 9.5%;}
  .user_qualities2 {margin-left: 1.4%;}
  .user_colors_line1 {margin-top: 12.5%;}
  .user_colors_line {height: 27%;}
  .user_color {width: 24.78%;}
  .user_color1, .user_color4 {left: 6%;}
  .user_color2, .user_color5 {left: 37.61%;}
  .user_color3, .user_color6 {right: 6%;}
  .user_drag_block {margin-left: 0; margin-top: 7.5%; width: 100%;}
  .user_drag_block p { font-size: 24px; margin-bottom: 69%;}
  .user_drag_block_left {margin-left: 0;}
  .user_drag_varient {height: 22%; margin-bottom: 6.5%;}
  .user_message {height: 79%; margin-top: 12.6%; font-size: 16px; line-height: 20px; padding: 2% 4%;}
  .user_button {width: 27.4%; right: 12.6%; bottom: 10.7%; height: 5%;}
  .user_notification {margin-left: 26%; margin-top: 55%;}

}











@media only screen and (max-width: 500px) {
  .standart_sootnosheniye {padding-bottom: 177.5%;}
  .menubar {height: 6.2%; padding: 2.34% 4.9% 0% 4.5%;}
  .menubar_extra {height: 6.2%;}
  .logo {width: 32.3%;}
  .burger {width: 7.8%;}
  .fp_row_block {height: 28%; padding: 1.1% 0;}
  .futter {height: 6.2%; padding: 0.3% 5% 0% 5%;}
  .futter a {font-size: 15px;}
  .futter_left1 {display: none;}
  .fp_main {height: 59.6%;}
  .p_tall, .p_bron {font-size: 15px; line-height: 18px;}
  .p_tall_index {right: 0.5%; top: 2.5%; width: 95%;}
  .fp_events {width: 62.4%; right: 9.6%; left: auto; top: 49.4%;}
  .fp_catalog {width: 53%; left: 4.7%; bottom: auto; top: 21.8%;}
  .fp_promokod {width: 67%; right: auto; left: 4.7%; top: auto; bottom: 5%;}
  .fp_decor1, .fp_decor2, .fp_decor3, .fp_decor4, .fp_decor5, .fp_decor6, .fp_decor7, .fp_ip_decor1, .fp_ip_decor2, .fp_ip_decor3, .fp_ip_decor4, .fp_ip_decor5 {display: none;}
  .fp_iph_decor1, .fp_iph_decor2, .fp_iph_decor3 {display: block;}
  @keyframes fp_row_anim {
    0% {-webkit-mask-position: -122.68% top;}
    100% {-webkit-mask-position: 0% top;}
  }

  .cat_sootnosheniye {padding-bottom: 843.125%;}
  .cat_menubar_extra {height: 1.305%;}
  .cat_futter {height: 1.305%;}
  h1 {font-size: 30px; line-height: 30px; margin-bottom: 6.5%;}
  h2 {font-size: 24px; line-height: 29px;}
  h4 {font-size: 15px; line-height: 18px;}
  ul, p {font-size: 15px; line-height: 18px;}
  .catp_content {height: 97.39%;}
  .catalog_block {height: 60.2%; padding-top: 7.5%; padding-left: 4.7%; padding-right: 4.7%;}
  .cat_timeline {height: 28.6%;}
  .cat_game {height: 11.2%;}
  .cat_line {height: 47.5%; margin-bottom: 14.5%; display: block;}
  .cat_line2 {display: block; height: 31.23%; margin-bottom: 1%;}
  .cat_line_item {width: 100%; display: block; height: 32%; margin-bottom: 6.1%;}
  .cat_weight2 {margin-top: 28%;}
  .cat_weight3 {margin-top: 21%;}
  .cat_item_hover ul {margin-left: 9%;}
  li {margin-top: 0px; margin-bottom: 1px;}
  .cat_line_plus {display: none;}
  .cat_line_item4 {height: 100%; width: 100%;}
  .cat_line2_block2 {width: 100%; height: 48.3%;}
  .cat_line2_block {width: 100%; height: 48.3%; margin-bottom: 6.5%;}
  .cat_line_item5 {width: 100%; height: 100%;}
  .cat_item5 {height: 86%;}
  .cat_item_info5 {height: 14%;}
  .cat_line_plus_ipad {display: block;  height: 7%; padding-top: 5.6%;}
  .cat_line_plus_ipad img {width: 12.813%; left: 45.2%;}
  .cat_line_plus_ipad p {width: 100%; left: 0%; bottom: 2.85%; line-height: 19px; font-size: 15px;}
  .cat_weight4 {margin-top: 21%;}
  .cat_item_hover {padding: 9.8% 5.5%;}
  .cat_item_hover5 {padding: 9.8% 9%;}
  .cat_item_hover5 p {margin-left: -5%;}
  .cat_item_hover5 ul {width: 90%;}
  .cat_weight5 {margin-top: 7%;}
  .cat_timeline .dontknow {width: 86%; font-size: 20px; line-height: 25px; margin-left: 4%;}
  .cat_timeline_img, .cat_timeline_img_ipad {display: none;}
  .cat_timeline_img_iphone {display: block;}
  .cat_timeline_round {display: none;}
  .cat_step1 {right: 30.3%; top: 21%; left: auto;}
  .cat_step2 {left: 50%; bottom: 44.2%;}
  .cat_step3 {right: auto; top: auto; bottom: 19.1%; left: 21.5%;}
  .cat_step1_text {bottom: auto; left: auto; top: 29%; right: 19.5%;}
  .cat_step2_text {left: 48.1%; bottom: 40.4%;}
  .cat_step3_text {bottom: 15.4%; left: 22.6%; top: auto; right: auto;}
  .cat_step1_a {top: 32%; left: auto;; z-index: 100; bottom: auto; right: 21%;}
  .cat_timeline a {font-size: 15px; line-height: 18px;}
  .cat_step2_a {left: 54.5%; bottom: 37.68%;}
  .cat_step3_a {top: auto; right: auto; bottom: 12.6%; left: 22%;}
  .cat_game_container {width: 670%;}
  .cat_g_card1, .cat_g_card2, .cat_g_card3, .cat_g_card4, .cat_g_card5 {border-radius: 10px; display: block;}
  .cat_g_card1_content, .cat_g_card2_content, .cat_g_card3_content, .cat_g_card4_content, .cat_g_card5_content {height: 100%;}
  .cat_g_card1_content {width: 100%;}
  .cat_g_card1_content  h2 {margin-top: 14%; margin-left: calc(50% - 81px); width: auto;}
  .cat_g_card2 h2, .cat_g_card3 h2, .cat_g_card5 h2 {margin-left: calc(50% - 90px)}
  .cat_g_card1_content  h4 {display: none;}



  .gal_sootnosheniye {padding-bottom: 712.5%;}
  .gal_futter, .gal_menubar_extra {height: 1.544%;}
  .gal_birki {height: 75.8%; overflow: hidden;}
  .gallery_row_container {height: 6.85%; padding-bottom: 6%;}
  .gal_merch {height: 9%;}
  .iphone_block_extra {display: block;}
  .gal_birka {border-radius: 10px;}
  .gal_birka2 {left: auto; right: 4.8%; top: 5.7%; width: 43.75%; height: 13.9%;}
  .gal_birka4 {left: 4.9%; top: 28.05%; width: 43.75%; height: 13.9%;}
  .gal_birka1 {left: 4.8%; top: 1.9%; width: 67.188%; height: 21.6%; }
  .gal_birka_front1, .gal_birka_front3, .gal_birka_front7 {border: 5px solid #FF83C1;}
  .gal_birka_front5, .gal_birka_front6 {border: 5px solid #A4DDD4;}
  .gal_birka3 {width: 57.24%; height: 18.4%; right: -3.8%; top: 25.3%;}
  .gal_birka5 {left: 5.3%; right: auto; bottom: 26.5%; width: 57.728%; height: 18.35%; top: auto;}
  .gal_birka6 {right: 4.5%; top: 45.5%; width: 57.813%; height: 18.5%; left: auto;}
  .gal_birka8 {left: 4.8%; right: auto; bottom: .7%; width: 43.75%; height: 13.95%;}
  .gal_birka7 {right: -2%; bottom: 8.9%; width: 67.28%; height: 21.4%;}
  .gal_rope {width: 4px;}
  .gal_rope1 {left: calc(38.394% - 2px);}
  .gal_rope2 {right: calc(26.675% - 2px); left: auto;}
  .gal_rope3 {right: calc(24.82% - 2px); height: 60%;}
  .gal_rope4 {left: calc(26.775% - 2px);}
  .gal_rope5 {right: auto; left: calc(34.164% - 2px);}
  .gal_rope6 {left: auto; right: calc(33.407% - 2px);}
  .gal_rope7 {right: calc(31.64% - 2px); height: 80%;}
  .gal_rope8 {left: calc(26.675% - 2px); height: 95%;}
  .p_date {font-size: 24px; line-height: 29px;}
  .p_bron {display: none;}
  .gal_birka_back1 .p_date1 {top: 21%;}
  .gal_birka_back1 .p_date2 {top: 30%;}
  .gal_birka_back3 h1, .gal_birka_back3 .p_date, .gal_birka_back6 h1, .gal_birka_back7 .p_date, .gal_birka_back5 .p_date {font-size: 24px; line-height: 29px;}
  .gal_birka_back3 .p_bron  {display: none;}
  .gal_img3 {bottom: 10%;}
  .gal_birka_back5 .p_date2 {top: 50%;}
  .gal_birka_back3 .p_date {top: 32%;}
  h2 {font-size: 24px; line-height: 29px;}
  .gal_img5 {bottom: 5%;}
  .gal_birka_back5 .p_date1 {top: 41%;}
  .gal_img6 {bottom: 5%;}
  .gal_birka_back .p_tall {display: none;}
  .gal_birka_back6 .p_date1 {left: 5.5%; right: auto; top: 16%;}
  .gal_birka_back6 .p_date2 {left: 5.5%; right: auto; top: 26%;}
  .gal_birka_back4 a, .gal_birka_back8 a {font-size: 24px; line-height: 29px; left: calc(50% - 57px);}
  .gallery_row {animation: gallery_row_anim 14s linear infinite;}
  @keyframes gallery_row_anim {
    0% {-webkit-mask-position: -139.3% top;}
    100% {-webkit-mask-position: 0% top;}
  }
  .gal_strelka1, .gal_strelka2 {width: 3%; top: 47.3%}
  .gal_strelka1 {left: 3.75%;}
  .gal_strelka2 {right: 3.75%;}
  .gal_merch_tablo {left: 4.6%; padding: 4% 5.5% 4% 5.5%; width: 90.8%; bottom: auto; z-index: 100; top: 108.7%;}
  .gal_merch_tablo p {font-size: 18px; line-height: 20px;}



  .machine_sootnosheniye {padding-bottom: 275%;}
  .mach_menubar_extra, .mach_futter {height: 4.515%;}
  .mach_main_block {padding: 0% 4.5% 0 4.5%; height: 90.97%;}
  .mach_text_block {width: 100%; display: block; height: 43.5%;}
  .mach_image {height: 43.4%; width: 100%; display: block;}
  .mach_points {height: 11.8%; width: 29%; width: 100%;}
  .mach_text_block h1 {line-height: 29px; margin-top: 6%;}
  .mach_text_block p {margin-top: 7%; width: 101%;}
  .mach_button {width: 9.052%; height: 7.588%;}
  .mach_button1 {left: 23.3%; top: 16%;}
  .mach_button2 {right: 20.7%; top: 23.5%;}
  .mach_button3 {bottom: 17%; left: 37%;}
  .mach_button4 {bottom: 26%; left: 58%;}
  .mach_button5 {right: 9%; bottom: 3%;}
  .mach_points p {margin-left: 0%; margin-top: 26%;}
  .mach_point2, .mach_point3, .mach_point4, .mach_point5 {display: none;}
  .mach_point1 {margin-top: 6% !important; width: 100%; text-align: center;}




  .con_futter {height: 5.8%; padding: 2.8% 4% 0% 4%;}
  .con_main_block {height: 88.4%; padding: 7.3% 4.6% 0.3% 4.6%;}
  .con_text_block {width: 100%; height: 23.5%; display: block;}
  .con_foto_block {width: 100%; height: 51.2%; display: block; background-image: url('../images/plan_iphone.jpg'); background-size: 102% 102%; background-position: 10% 10%;}
  .con_text_block p {display: none;}
  .con_text_block_ipad {display: block; height: 17%; margin-top: 10%;}
  .con_text_block_ipad p { color: black; font-size: 15px; line-height: 23px; position: absolute;}
  .con_text_block_ipad1 {left: 4.5%;}
  .con_text_block_ipad2 {left: 4.5%; bottom: 4.3%;}





  .user_sootnosheniye {padding-bottom: 914.688%;}

  .user_menubar_extra, .user_futter {height: 1.362%;}
  .user_text_block {height: 14.5%; padding: 0.1% 3%;}
  .user_question_block {height: 77.6%; padding: 0.1% 3%}
  .user_text_left {width: 100%;}
  .user_text_left h1 {line-height: 44px;}
  .user_text_left p {margin-left: 1%; width: 64%;}
  .user_icon1, .user_icon2 {width: 12%; top: 13.3%;}
  .user_icon1 p, .user_icon2 p {font-size: 15px; line-height: 23px; bottom: -8%;}
  .user_icon2 p {left: calc(50% - 47px)}
  .user_icon1 p {left: calc(50% - 39px)}
  .user_icon2 {right: 5%;}
  .user_icon1 {right: 20.4%;}
  .user_question1 {left: 3.9%; width: 60.2%; height: 51.6%; padding: 1.7% 0 1% 1.2%;}
  .user_question2 {left: 3.9%; top: 53.5%; width: 92.5%; height: 18.6%; padding: 1.5% 0%;}
  .user_question3 {right: 3.9%; width: 29.3%; height: 18.7%; padding: 1.7% 1.6%;}
  .user_question4 {bottom: 0; left: 3.9%; height: 25.8%; width: 44.8%; padding: 1.8% 2.5%;}
  .user_question5 {right: 3.9%; top: 20.7%; width: 29.3%; height: 30.9%; padding: 1.6% 1.6%;}
  .user_portrets_line {margin-top: 5.5%; height: 43.5%; padding: 0% 0 0 2.8%}
  .user_line2 {margin-top: 3.5%;}
  .user_portret_block {width: 45.6%;}
  .user_portret_block_left {margin-right: 3%;}
  .user_portrets_line p {line-height: 17px;}
  .user_question2 .user_question_text {margin-left: 1.3%;}
  .user_qualities_block {padding: 1.6% 0;}
  .user_qualities1 {margin-left: 9.5%;}
  .user_qualities2 {margin-left: 1.4%;}
  .user_colors_line1 {margin-top: 12.5%;}
  .user_colors_line {height: 27%;}
  .user_color {width: 24.78%;}
  .user_color1, .user_color4 {left: 6%;}
  .user_color2, .user_color5 {left: 37.61%;}
  .user_color3, .user_color6 {right: 6%;}
  .user_drag_block {margin-left: 0; margin-top: 7.5%; width: 100%;}
  .user_drag_block p { font-size: 24px; margin-bottom: 69%;}
  .user_drag_block_left {margin-left: 0;}
  .user_drag_varient {height: 22%; margin-bottom: 6.5%;}
  .user_message {height: 79%; margin-top: 12.6%; font-size: 16px; line-height: 20px; padding: 2% 4%;}
  .user_button {width: 27.4%; right: 12.6%; bottom: 10.7%; height: 5%;}
  }
